<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{titlecat}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>

	<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="https://www.afpa.fr/"> <img
			src="https://www.sparks-formation.com/wp-content/uploads/2020/05/framework-spring.png"
			height="75"></a> <span th:text="#{header}"
			class="navbar-brand mb-0 h1"></span>
	</nav>


	<div class="col-md-8 mt-5 mb-3 container">
		<div class="mb-2">
			<button type="button" class="btn btn-primary" th:text="#{switch-en}"
				onclick="window.location.href='/SpringBraderie-CFJBLGCV/catalogue?lang=en'"></button>
			<button type="button" class="btn btn-primary" th:text="#{switch-fr}"
				onclick="window.location.href='/SpringBraderie-CFJBLGCV/catalogue?lang=fr'"></button>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th th:text="#{description}"></th>
					<th th:text="#{marque}"></th>
					<th th:text="#{prixunitaire}"></th>
					<th th:text="#{quantite}"></th>
					<th th:text="#{ajouter}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="article : ${articles}">
					<td th:text="${article.description}"></td>
					<td th:text="${article.marque}"></td>
					<td th:text="${article.prixunitaire}"></td>
					<form th:action="@{/panier/add(idarticle=${article.id})}"
						method="post" th:object="${article}">
						<td><input type="number" id="qte" name="qte" value="1"
							min="1" max="10" onKeyDown="return false"></td>
						<td><button type="submit" value="Ajouter au panier"
								class="btn btn-primary container" th:text="#{addpanier}"></button></td>
					</form>
				</tr>
			</tbody>
		</table>
		<div>
			<a href="/SpringBraderie-CFJBLGCV/logout" class="btn btn-primary" th:text="#{deco}"></a> <a
				href="/SpringBraderie-CFJBLGCV/panier" class="btn btn-primary"
				th:text="#{showPanier}"></a> <a
				href="https://www.youtube.com/watch?v=zmYHbOu43AM"
				class="btn btn-primary" target="_blank" th:text="#{muse}"></a>
		</div>
	</div>

</body>
</html>