<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title th:text="#{erreurpan}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	<div class="container d-flex justify-content-center mt-10">
		<h1 th:text="#{paniervide}"></h1>
	</div>
	
	<div class="d-flex justify-content-center mt-10">
		<a href="/SpringBraderie-CFJBLGCV/catalogue" class="btn btn-primary" th:text="#{backcat}"></a>
	</div>



</body>
</html>