<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{titleindex}"></title>
<link href="/SpringBraderie-CFJBLGCV/css/main.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

	<div class="container mt-3">
		<div class="container">
			<button type="button" class="btn btn-primary" th:text="#{switch-en}"
				onclick="window.location.href='/SpringBraderie-CFJBLGCV/welcome?lang=en'"></button>
			<button type="button" class="btn btn-primary" th:text="#{switch-fr}"
				onclick="window.location.href='/SpringBraderie-CFJBLGCV/welcome?lang=fr'"></button>
		</div>
		<form class="form-signin" method="POST" th:action="@{/login}">
			<h2 class="form-heading" th:text="#{login}"></h2>

			<div class="form-group">

				<span th:text="${session.delog}"></span> <input name="username"
					type="text" class="form-control" placeholder="Login"
					autofocus="true" /> <input name="password" type="password"
					class="form-control" placeholder="Password" /> <span
					th:text="${session.error}"></span>

				<button class="btn btn-lg btn-primary btn-block" type="submit"
					th:text="#{loginbutton}"></button>
			</div>
		</form>
	</div>

</body>
</html>