<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title th:text="#{titlepan}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="https://www.afpa.fr/"> <img
			src="https://www.sparks-formation.com/wp-content/uploads/2020/05/framework-spring.png"
			height="75"></a> <span th:text="#{header}"
			class="navbar-brand mb-0 h1"></span>
	</nav>
	<!--Section: Block Content-->
	<section>

		<!--Grid row-->
		<div class="row">
			<!--Grid column-->
			<div class="col-lg-8">

				<!-- Card -->
				<div class="container mb-3 mt-3">
					<button type="button" class="btn btn-primary"
						th:text="#{switch-en}"
						onclick="window.location.href='/SpringBraderie-CFJBLGCV/panier?lang=en'"></button>
					<button type="button" class="btn btn-primary"
						th:text="#{switch-fr}"
						onclick="window.location.href='/SpringBraderie-CFJBLGCV/panier?lang=fr'"></button>
					<div class="card-body">
						<div th:switch="${panier}" class="container my-5">

							<h2 th:case="null" th:text="#{norecord}"></h2>
							<div th:case="*">
								<table class="table table-striped table-responsive-md">
									<thead>
										<tr>
											<th th:text="#{marque}"></th>
											<th th:text="#{description}"></th>
											<th th:text="#{prixunitaire}"></th>
											<th th:text="#{quantite}"></th>
											<th th:text="#{soustotal}"></th>
											<th th:text="#{supprimer}"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="panier : ${panier}">
											<td th:text="${panier.article.marque}"></td>
											<td th:text="${panier.article.description}"></td>
											<td th:text="${panier.article.prixunitaire}"></td>
											<td th:text="${panier.quantite}">
												<!-- 										<form method="post" action= "/panier/updateqte"> -->
												<!-- 										<input type="hidden" th:value="${panier.article.id}" name="idarticle"> -->
												<!-- 										<input type="number" th:value="${panier.quantite}" name="qte" onchange="submit()"> -->
												<!-- 										</form> -->
											</td>
											<td th:utext="${panier.getSousTotal}" id="soustotal"></td>
											<td><a
												th:href="@{panier/delete/{id}(id=${panier.article.id})}"
												class="btn btn-danger"> <i class="fas fa-trash"></i>
											</a></td>
										</tr>
									</tbody>
								</table>
								<div class="container">
									<a href="/SpringBraderie-CFJBLGCV/catalogue" class="btn btn-primary"
										th:text="#{backcat}"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Card -->
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-4">
				<!-- Card -->
				<div class="card my-5">
					<div class="container my-5">
						<div class="card-body">
							<h5 class="mb-3" th:text="#{recapitulatif}"></h5>
							<ul class="list-group list-group-flush">
								<li
									class="list-group-item d-flex justify-content-between align-items-center px-0">
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
									<div>
										<strong th:text="#{total}"></strong>
									</div>
									<p th:utext="${total.getTotal(panier.get(0).getUser())}"></p>
								</li>
							</ul>
							<button type="button"
								class="btn btn-primary btn-block waves-effect waves-light"
								th:text="#{passezcommande}"></button>
						</div>
					</div>
				</div>
			</div>
			<!--Grid column-->
		</div>
		<!-- Grid row -->
	</section>
	<!--Section: Block Content-->
</body>

</html>